<h1>Chat del Ecommerce</h1>
<form id="chat-input">
  <label for="user">User</label>
  <input type="text" id="user" />
  <label for="message">Mensaje</label>
  <input type="text" id="message" />
  <button type="submit"></button>
</form>

<h2>Log de mensajes</h2>
<div id="logs"></div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/chat.js"></script>