<h1>Recupero de Contraseña</h1>
<p>Te enviaremos un Link para restablecer tu contraseña al correo que tengas registrado.</p>
<p>Por favor ingresá un correo valido:</p>
<form id="sendLink">
  <label>Correo</label><br /><br />
  <input type="text" id="email" name="email" placeholder="Escribí aquí tu correo registrado" /><br /><br />
  <button type="submit">Enviar</button>
</form>
<script src="/js/forgottenPass.js"></script>