<div>
  <h1>Ingresá acá!</h1>
  <form id="loginForm">
    <label>Email:</label>
    <input type="text" name="email" />
    <br />
    <br />
    <label>Contraseña:</label>
    <input type="password" name="password" />
    <br /><br />
    <button type="submit">Ingresar</button>
  </form>
  <p>O</p>
  <a href="/api/sessions/github"><button>Logueate con GitHub</button></a>
  <p>Olvidaste tu contraseña? Podés hacer <a href="/forgottenPass">Click Aquí</a> para restablecerla.</p>
  <p>Si no tenés cuenta podés creartela <a href="/register">aquí</a></p>
</div>
<script src="/js/login.js"></script>