<div>
  <h1>Registrate aquí!</h1>
  <form id="registerForm">
    <label>Nombre:</label>
    <input type="text" name="first_name" />
    <br />
    <br />
    <label>Apellido:</label>
    <input type="text" name="last_name" />
    <br />
    <br />
    <label>Email:</label>
    <input type="text" name="email" />
    <br />
    <br />
    <label>Edad:</label>
    <input type="text" name="age" />
    <br />
    <br />
    <label>Contraseña:</label>
    <input type="password" name="password" />
    <br />
    <br />
    <button type="submit">Registrarme</button>
    <br />
    <br />
    <p>En caso de contar con una cuenta podés hacer tu
      <a href="/login">Login aquí</a></p>
  </form>
</div>
<script src="/js/register.js"></script>