<h1>Restablecé tu contraseña:</h1>
<form id="form">
  <label>Nueva contraseña</label><br /><br />
  <input type="text" name="password" id="password" /><br /><br />
  <button type="submit">Restablecer Contraseña</button>
</form>
<script src="/js/restorePass.js"></script>